<div flex="" layout="column" class="ks-main md-whiteframe-z2 ks-setting">
    <!--头部-->
    <md-toolbar class="ks-header ks-index-header" layout="row" layout-align="center center">
            <div class="" flex="20" ng-click="fallbackPage()">
                <md-icon class="lq-icon" md-font-set="lq-icon" md-font-icon="lq-angle-left"></md-icon>
            </div>
            <h1 flex>设置</h1>
            <div flex="20" class="right-word"></div>
    </md-toolbar>
    <md-content flex="" id="content" class="main-content">
        <!--<div class="items" layout="row">-->
            <!--<div class="names" flex>推送消息</div>-->
            <!--<div class="types" flex>-->
                <!--<md-switch flex ng-model="isReceive"></md-switch>-->
                <!--{{isReceive}}-->
            <!--</div>-->
        <!--</div>-->
        <div class="items" layout="row" ui-sref="main.bindWx">
            <div class="names" flex>绑定微信</div>
            <div class="types" flex><md-icon class="lq-icon" md-font-set="lq-icon" md-font-icon="lq-angle-right"></md-icon></div>
        </div>
        <div class="items" layout="row">
            <div class="names" flex>关于</div>
            <div class="types" flex>
                <span>V{{appVersion}}</span>
                <md-icon class="lq-icon" md-font-set="lq-icon" md-font-icon="lq-angle-right"></md-icon>
            </div>
        </div>
    </md-content>
    <div class="logout" ng-click="exit()">退出登录</div>
</div>

